<h1><%= @category.name %></h1>

<p><%= @category.description %></p>

<%= link_to 'Back to Categories', @category %>
<br>
<%= link_to 'Edit Category', edit_category_path(@category) %>
<%= link_to "Delete", category_path(@category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>