<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, article%>
    <%= "Author: #{article.author&.name || 'Unknown Author'}" %>

    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, class: "new-article-link" %>
<%= link_to 'View Categories', categories_path, class: "view-categories-link"%>
<%= stylesheet_link_tag 'articles', media: 'all' %>
