<h1><%= @author.name %></h1>

<p>
BIO:
<br>
<%= @author.bio %></p>

<h3>Articles</h3>
<% if @articles.present?%>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %> 
      </li>
    <% end %>
  </ul>
<% else %>
  <p>author has no articles.</p>
<% end %>

<%= link_to 'Back to Authors', authors_path %>

<br>
<%= link_to 'Edit Author', edit_author_path(@author) %>
<br>
<%= link_to "Delete", author_path(@author), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>


